.article {
  width: 100%;
  text-align: center !important;
}

img {
  &.red-slack {
    margin-top: 2rem;
    width: 13rem;
  }

  &.red-outlook {
    width: 7rem;
  }

  &.esquemaa {
    padding: 32rem 32rem;
    width: 14rem;
  }
  &.img-puertos{
    width: 50%;
  }

  @media (max-width:1155) {
    .esquemaa {
      width: 15rem
    }
  }
}