$transbank-100:#f2608d;
$transbank-300:#D5006C;
$grey-200:#707382;
$grey-300:#2D3338;
$grey-400:#202830;
$onePay-300:#0098dd;
$basic-200:#f9fbfe;
$basic-300:#e7ebf3;
$basic-500:#a0afca;
$webpay-300:#6b196b;
$info:#EBF6FF;
$success:#7aefbb;
$warning-200:#ffd98f;

$box-shadow:rgba(92, 91, 91, 0.04);
