.nav-color {
  background-color: white;
  box-shadow: 0px 6px 12px $box-shadow;
  z-index: 9999;
}

.logo-tablet {
  min-width: 16rem;
}

.version {
  color: $transbank-300;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width:992px) {
  .m-left {
    margin-left: 24%;
  }
}

.main {
@media(min-width: 992px){
  transition: .4s;
  &.active {
    margin-left: 11%;
    
    transition: .45s;
  }
  }
}

.nav-fixed {
  position: sticky;
}
@media (min-width:992px) {
  .nav-fixed {
    top:0;
  }

  
 }


.menu-btn {
  background-color: rgba(255, 255, 255, 0);
  padding: 1.4rem;
}
