.nav-color {
  background-color: white;
  box-shadow: 0px 6px 12px $box-shadow;
  z-index: 9999;
}

.logo-tablet {
  min-width: 16rem;
}

.version {
  color: $transbank-300;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width:992px) {
  .m-left {
    margin-left: 22.5%;
  }
}

.main {
@media(min-width: 992px){
  transition: .6s;
  &.active {
    margin-left: 12.5%;
    transition: .6s;
  }
  }
}


.nav-fixed {
  position: sticky;
}


.nav-fixed {
  position: sticky;
}
@media (min-width:992px) {
  .nav-fixed {
    top:1.6rem;
  }

  
 }


.menu-btn {
  background-color: rgba(255, 255, 255, 0);
  padding: 1.4rem;
}
