.nav--color {
    background-color: $grey-400;
    margin-right: 1.6rem;
    color: $grey-200;
    padding: 1.6rem;
    left: -70%;
    height: 100%;
    width: 70%;
    position: fixed;
    width: 70%;
    z-index: 99999;
    transition: .8s;
    &.active{
        @media (max-width:992px) {
            left: 0;
        }
    }

    div:not(last-child) {
        margin-bottom: 3.2rem;
    }

    div:not(first-child) {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    .version {
        margin-bottom: 0rem;

        div {
            margin-bottom: 0rem;
        }
    }

    .logo-w {
        min-width: 10rem;
        padding-right: .6rem;
        border-right: 1px solid $grey-200;
    }

    h2 {
        text-transform: uppercase;
        margin-left: .6rem;
        font-size: 1.2rem;
        margin-top: auto;
        opacity: 0;
        animation: fade-in .8s forwards;
    }

    h3 {
        font-size: 1.6rem;
        color: $onePay-300;
        margin-bottom: 1.6rem;
    }

    ul {
        position:relative;
        li {
            margin-bottom: 1.6rem;

            a {
                img {
                    width: 2.4rem;
                    opacity: 0;
                    animation: fade-in .4s forwards;
                }

                font-size: 1.6rem;
                text-decoration: none;
                color:$grey-200;

                p {
                    color: $basic-500;
                    opacity: 0;
                    animation: fade-in .6s forwards;
                }

                &:hover {
                    p {
                        color: white;
                    }
                }
            }
        }
        .sub-nav {
            display: none;
        }
        &:hover {
            .sub-nav {
                position:absolute;
                display: block;
                top: 10;
                left: 18rem;
                border-radius: 0.8rem;
                background-color: red;
                width: 10rem;
                z-index: 99999999;
            }
        }
    }
}


@media ((min-width:576px) and (max-width:991px)) {
    .nav--color {
        width: 42%;
        transition: .8s;
    }
}

@media (min-width:992px) {

    .nav--color {
        position: fixed;
        max-width: 24%;
        left: 0;
        top: 0;
        height: 100%;
        transition: .4s;
        &.active {
            max-width: 11%;
            transition: .4s;
            section {
                img {
                    border-right: none;
                }
                h2 {
                    transition: .8s;
                    display: none;
                    opacity: 0;
                    animation: fade-in .4s forwards;
                }
            }
        }
    }
}

.scroll {
    margin: 0 !important;
    height: 90%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: $grey-200 $grey-400;
    transition: .6s;
    h3 {
        transition: .6s;
        display: none;
        opacity: 0;
        animation: fade-in .4s forwards;
    }

    .text {
        display: block;
    }

    &.active {
        h3 {
            display: flex;
            justify-content: center;
            
        }
        @media (max-width:991px) {
            h3 {display:none;
            }
            .text {
                display: block;
            }
        }
        @media (min-width:992px) {
            .text {
                display: none;
                
            }
        }



        ul {
            li {
                a {
                    img {
                        margin-right: 1.8rem;
                    }
                }
            }
        }

        ul {
            li {
                @media (min-width:992px) {
                    a {
                        justify-content: start;
                    }
                }
                a {
                    display: flex;
                    justify-content: center;
                }

                p {
                    display: none;
                    @media (max-width:991px) {
                        display: block;
                    }
                }
            }
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey-200;
        border-radius: 20px;
        border: 3px solid $grey-400;
    }

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $grey-400;
    }
}

//b
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
/*b */
.accordion {
    --bs-accordion-color: $transbank-300;
    --bs-accordion-bg: none;
    --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
    --bs-accordion-border-color: $transbank-300;
    --bs-accordion-border-width: 1px;
    --bs-accordion-border-radius: 0.375rem;
    --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
    --bs-accordion-btn-padding-x: -1rem;
    --bs-accordion-btn-padding-y: 0;
    --bs-accordion-btn-color: $transbank-300;
    --bs-accordion-btn-bg: none;
    --bs-accordion-btn-icon-width: 1.2rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-focus-border-color: $transbank-300;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: .25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: #e7f1ff;
    &-header {
        margin: 0!important;
    }
}
.accordion-button{
    display: flex;
    align-items:flex-start;
    p {
        color:$basic-500;
    }   
    img {
        margin-right: 1rem;
    width: 2.4rem;
}
    &:after {
    flex-shrink: 0;
    margin-left: auto;
    background-image: url(../img/icons/chevron.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transition: .3s;
    width: 10%;
    padding: 10px;
}}
.accordion-button:not(.collapsed)::after {
    background-image: url(../img/icons/chevron.svg);
    transform: .4s;
    
  }

  @media (min-width:992px){
    .accordion-button.active:not(.collapsed)::after {
        display: none;
      }
  } 

.accordion-button:not(.collapsed) {
    display: flex;
    align-items: start;
    box-shadow: none;
    padding: 0;

    img {
        margin-right: 1rem;
        max-width: 2.4rem;
    }
    p {
        color: $basic-500!important;
    }
    
    background-color: rgba(255, 0, 0, 0);
}