* {
    /*Borrar parametros de navegadores*/
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    
  }
  
  h2 {
    margin: 0;
  }


  button svg{
  fill:$grey-200;
  &:hover {
    fill:$basic-500;
  }
}

.btn {
    padding: .8rem 2.4rem;
    border-radius: .4rem;
    background-color: none;
    font-size: 1.4rem;
    &--close {
      padding: 0;
      font-size: 1.4rem;
      background-color: $grey-400;
      img {
        min-width: 4rem;
        max-width: 6rem;
        width: 100%;
      }
    }
    &-secundary {
        border: 1px solid $transbank-300 ;
        color:$transbank-300;
    }

}
  html {
    font-size: 62.5%;
  }
  .none {
    display: none;
  }
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #2D3338;
  
  }
  img {
    width: 100%;
    max-width: 27rem;
  }
  @media (min-width:576px) {
  .md-flex {
    display: flex;
  }
  }
  
  .flex {
    display: flex;
  }
  .flex-betwwen {
    justify-content: space-between;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-rownew {
    display: flex;
    flex-direction: row;
  }
  .justify-center {
    justify-content: center;
  }
   @media (max-width:576px) {
    .mb-pb16 article:not(:last-child) {
      margin-bottom: 1.6rem;
    }
   }
   @media (max-width:768px) {
    .last-child div:last-child {
      display: none;
    }
  }
  .color {
    background-color: #E7ebf3;
    
  }
  .px-32 {
    padding: 3.2rem 0;
  }
  .mt-32 {
    margin-top: 3.2rem;
  }
  .background-card {
    background-color: #fcfdfe;
    border-radius: .8rem;
    box-shadow: 0px 4px 10px rgba(46, 91, 255, 0.06);
  }
  .title {
    padding-bottom: 2.4rem;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0.25px;
    color:#828EA5;
  
  }
  .flex-gap {
    gap:3.2rem;
  }
  span {
    color:$transbank-300;
  }

@media (min-width:992px) {
  body{
    margin: 1.6rem;
  }  
}
@media (min-width:992px) {
  main.container {
    padding-left: 0!important;
    padding-right: 0!important;
    max-width: 100%!important;
  }
  section.container {
    padding-left: 0!important;
    padding-right: 0!important;
    max-width: 100%!important;
  }
}


a {
  justify-content: space-around;
  align-items: start;
  img {
    max-width:2.4rem ;
    margin-right: .8rem;
  }
}


