* {
  /*Borrar parametros de navegadores*/
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin: 0;
}

button svg {
  fill: #707382;
}
button svg:hover {
  fill: #a0afca;
}

.btn {
  padding: 0.8rem 2.4rem;
  border-radius: 0.4rem;
  background-color: none;
  font-size: 1.4rem;
}
.btn--close {
  padding: 0;
  font-size: 1.4rem;
  background-color: #202830;
}
.btn--close img {
  min-width: 4rem;
  max-width: 6rem;
  width: 100%;
}
.btn-secundary {
  border: 1px solid #D5006C;
  color: #D5006C;
}

html {
  font-size: 62.5%;
}

.none {
  display: none;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #2D3338;
}

img {
  width: 100%;
  max-width: 27rem;
}

@media (min-width: 576px) {
  .md-flex {
    display: flex;
  }
}
.flex {
  display: flex;
}

.flex-betwwen {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.flex-rownew {
  display: flex;
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

@media (max-width: 576px) {
  .mb-pb16 article:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}
@media (max-width: 768px) {
  .last-child div:last-child {
    display: none;
  }
}
.color {
  background-color: #E7ebf3;
}

.px-32 {
  padding: 3.2rem 0;
}

.mt-32 {
  margin-top: 3.2rem;
}

.background-card {
  background-color: #fcfdfe;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 10px rgba(46, 91, 255, 0.06);
}

.title {
  padding-bottom: 2.4rem;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.25px;
  color: #828EA5;
}

.flex-gap {
  gap: 3.2rem;
}

span {
  color: #D5006C;
}

@media (min-width: 992px) {
  body {
    margin: 1.6rem;
  }
}
@media (min-width: 992px) {
  main.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
  }
  section.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 100% !important;
  }
}
a {
  justify-content: space-around;
  align-items: start;
}
a img {
  max-width: 2.4rem;
  margin-right: 0.8rem;
}

.nav-color {
  background-color: white;
  box-shadow: 0px 6px 12px rgba(92, 91, 91, 0.04);
  z-index: 9999;
}

.logo-tablet {
  min-width: 16rem;
}

.version {
  color: #D5006C;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 24px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .m-left {
    margin-left: 22.5%;
  }
}
@media (min-width: 992px) {
  .main {
    transition: 0.6s;
  }
  .main.active {
    margin-left: 12.5%;
    transition: 0.6s;
  }
}

.nav-fixed {
  position: sticky;
}

.nav-fixed {
  position: sticky;
}

@media (min-width: 992px) {
  .nav-fixed {
    top: 1.6rem;
  }
}
.menu-btn {
  background-color: rgba(255, 255, 255, 0);
  padding: 1.4rem;
}

.article {
  width: 100%;
  text-align: center !important;
}

img.red-slack {
  margin-top: 2rem;
  width: 13rem;
}
img.red-outlook {
  width: 7rem;
}

.nav--color {
  background-color: #202830;
  margin-right: 1.6rem;
  color: #707382;
  padding: 1.6rem;
  left: -70%;
  height: 100%;
  width: 70%;
  position: fixed;
  width: 70%;
  z-index: 99999;
  transition: 0.8s;
}
@media (max-width: 992px) {
  .nav--color.active {
    left: 0;
  }
}
.nav--color div:not(last-child) {
  margin-bottom: 3.2rem;
}
.nav--color div:not(first-child) {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.nav--color .version {
  margin-bottom: 0rem;
}
.nav--color .version div {
  margin-bottom: 0rem;
}
.nav--color .logo-w {
  min-width: 10rem;
  padding-right: 0.6rem;
  border-right: 1px solid #707382;
}
.nav--color h2 {
  text-transform: uppercase;
  margin-left: 0.6rem;
  font-size: 1.2rem;
  margin-top: auto;
}
.nav--color h3 {
  font-size: 1.6rem;
  color: #0098dd;
  margin-bottom: 1.6rem;
}
.nav--color ul {
  position: relative;
}
.nav--color ul li {
  margin-bottom: 1.6rem;
}
.nav--color ul li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #707382;
}
.nav--color ul li a img {
  width: 2.4rem;
}
.nav--color ul li a p {
  color: #a0afca;
}
.nav--color ul li a:hover p {
  color: white;
}
.nav--color ul .sub-nav {
  display: none;
}
.nav--color ul:hover .sub-nav {
  position: absolute;
  display: block;
  top: 10;
  left: 18rem;
  border-radius: 0.8rem;
  background-color: red;
  width: 10rem;
  z-index: 99999999;
}

@media ((min-width: 576px) and (max-width: 991px)) {
  .nav--color {
    width: 42%;
    transition: 0.8s;
  }
}
@media (min-width: 992px) {
  .nav-color {
    border-radius: 0.8rem;
  }
  .nav--color {
    position: fixed;
    max-width: 21%;
    border-radius: 1.6rem;
    left: 1.6rem;
    height: 96%;
    transition: 0.6s;
  }
  .nav--color.active {
    max-width: 11%;
    transition: 0.6s;
  }
  .nav--color.active section img {
    border-right: none;
  }
  .nav--color.active section h2 {
    display: none;
  }
}
.scroll {
  margin: 0 !important;
  height: 90%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #707382 #202830;
}
.scroll h3 {
  display: none;
}
.scroll .text {
  display: block;
}
.scroll.active h3 {
  display: flex;
  justify-content: center;
}
.scroll.active .text {
  display: none;
}
.scroll.active ul li a img {
  margin-right: 1.8rem;
}
.scroll.active ul li a {
  display: flex;
  justify-content: center !important;
}
.scroll.active ul li p {
  display: none;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #707382;
  border-radius: 20px;
  border: 3px solid #202830;
}
.scroll::-webkit-scrollbar {
  width: 12px;
}
.scroll::-webkit-scrollbar-track {
  background: #202830;
}

/*b */
.accordion {
  --bs-accordion-color: $transbank-300;
  --bs-accordion-bg: none;
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease;
  --bs-accordion-border-color: $transbank-300;
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: -1rem;
  --bs-accordion-btn-padding-y: 0;
  --bs-accordion-btn-color: $transbank-300;
  --bs-accordion-btn-bg: none;
  --bs-accordion-btn-icon-width: 1.2rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-focus-border-color: $transbank-300;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: .25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: #e7f1ff;
}
.accordion-header {
  margin: 0 !important;
}

.accordion-button {
  display: flex;
  align-items: flex-start;
}
.accordion-button p {
  color: #a0afca;
}
.accordion-button img {
  margin-right: 1rem;
  width: 2.4rem;
}
.accordion-button:after {
  flex-shrink: 0;
  margin-left: auto;
  content: ".";
  background-image: url(../img/icons/config.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.3s;
  margin: 0.5rem;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/icons/config.svg);
  transform: 0.4s;
}

.accordion-button:not(.collapsed) {
  display: flex;
  align-items: start;
  box-shadow: none;
  padding: 0;
  background-color: rgba(255, 0, 0, 0);
}
.accordion-button:not(.collapsed) img {
  margin-right: 1rem;
  max-width: 2.4rem;
}
.accordion-button:not(.collapsed) p {
  color: #a0afca !important;
}

/*# sourceMappingURL=style.css.map */
